﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<form action="/" method="post">
    <input type="radio" name="gender" value=""> male<br>
    <input type="radio" name="gender" value=""> Female<br>

  



</form>